Import libraries.

In [7]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Load the dataset.

In [3]:
df = pd.read_csv('Updated dataset.csv')
df

,Unnamed: 0,AirFlowRate,Vapor Temperature,Liquid Temperature,Current,Power,Voltage,timestamp,Outdoor Humidity,Outdoor Temperature,Indoor Temperature
0,0,0.56249,9.5625,17.0625,7.632,1717.69995,229.30000,2024-05-15 13:30:00.000,41.872580,43.204799,16.0
1,1,1.02559,9.5625,17.1250,7.597,1708.90002,229.30000,2024-05-15 13:30:46.750,42.127048,43.079669,16.0
2,2,1.46180,9.5625,17.0625,7.683,1730.09998,229.50000,2024-05-15 13:31:33.500,42.249997,43.024747,16.0
3,3,1.34875,9.5625,17.1250,7.628,1717.90002,229.50000,2024-05-15 13:32:20.250,42.248148,43.027283,16.0
4,4,1.54852,9.5625,17.0625,7.607,1711.00000,229.39999,2024-05-15 13:33:07.000,42.366430,42.965117,16.0
...,...,...,...,...,...,...,...,...,...,...,...
3574,3574,0.00000,22.0625,23.3750,0.000,0.00000,232.80000,2024-05-31 17:48:06.704,55.243160,37.600000,26.0
3575,3575,0.00000,22.5625,23.6875,0.000,0.00000,232.89999,2024-05-31 17:48:25.578,56.885740,36.930000,26.0
3576,3576,0.00000,23.0000,24.1250,0.000,0.00000,233.00000,2024-05-31 17:48:44.452,57.664060,36.770000,26.0
3577,3577,0.06978,23.3125,24.3125,0.000,0.00000,233.00000,2024-05-31 17:49:03.326,57.103520,37.010000,26.0
3578,3578,0.10362,23.6250,24.5000,0.000,0.00000,233.10001,2024-05-31 17:49:22.200,57.378910,36.800000,26.0

Removing the 'Unnamed: 0' column

In [4]:
columns_to_remove = ['Unnamed: 0']
df.drop(columns=columns_to_remove,inplace=True)
df

,AirFlowRate,Vapor Temperature,Liquid Temperature,Current,Power,Voltage,timestamp,Outdoor Humidity,Outdoor Temperature,Indoor Temperature
0,0.56249,9.5625,17.0625,7.632,1717.69995,229.30000,2024-05-15 13:30:00.000,41.872580,43.204799,16.0
1,1.02559,9.5625,17.1250,7.597,1708.90002,229.30000,2024-05-15 13:30:46.750,42.127048,43.079669,16.0
2,1.46180,9.5625,17.0625,7.683,1730.09998,229.50000,2024-05-15 13:31:33.500,42.249997,43.024747,16.0
3,1.34875,9.5625,17.1250,7.628,1717.90002,229.50000,2024-05-15 13:32:20.250,42.248148,43.027283,16.0
4,1.54852,9.5625,17.0625,7.607,1711.00000,229.39999,2024-05-15 13:33:07.000,42.366430,42.965117,16.0
...,...,...,...,...,...,...,...,...,...,...
3574,0.00000,22.0625,23.3750,0.000,0.00000,232.80000,2024-05-31 17:48:06.704,55.243160,37.600000,26.0
3575,0.00000,22.5625,23.6875,0.000,0.00000,232.89999,2024-05-31 17:48:25.578,56.885740,36.930000,26.0
3576,0.00000,23.0000,24.1250,0.000,0.00000,233.00000,2024-05-31 17:48:44.452,57.664060,36.770000,26.0
3577,0.06978,23.3125,24.3125,0.000,0.00000,233.00000,2024-05-31 17:49:03.326,57.103520,37.010000,26.0
3578,0.10362,23.6250,24.5000,0.000,0.00000,233.10001,2024-05-31 17:49:22.200,57.378910,36.800000,26.0

In [6]:
numerical_columns = df.select_dtypes(include=['int64','float64']).columns.to_list()
numerical_columns

['AirFlowRate',
 'Vapor Temperature',
 'Liquid Temperature',
 'Current',
 'Power',
 'Voltage',
 'Outdoor Humidity',
 'Outdoor Temperature',
 'Indoor Temperature']

Normalization / Standardization

In [8]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df[numerical_columns])
scaled_data = pd.DataFrame(scaled_data, columns=numerical_columns)
scaled_data.head()

,AirFlowRate,Vapor Temperature,Liquid Temperature,Current,Power,Voltage,Outdoor Humidity,Outdoor Temperature,Indoor Temperature
0,0.256399,0.017595,0.028455,0.900319,0.889954,0.333334,0.196488,0.720662,0.0
1,0.467493,0.017595,0.032520,0.896190,0.885395,0.333334,0.203851,0.711253,0.0
2,0.666329,0.017595,0.028455,0.906335,0.896378,0.348485,0.207409,0.707124,0.0
3,0.614798,0.017595,0.032520,0.899847,0.890058,0.348485,0.207356,0.707315,0.0
4,0.705859,0.017595,0.028455,0.897369,0.886483,0.340909,0.210778,0.702640,0.0